@charset "UTF-8";
/* CSS Document */


/* SOLO TEXTOS */

h1, h2  {
	font-family: Open Sans, "Trebuchet MS", Arial, serif;
	margin-bottom: 2em;
	margin-top: 2em;
	margin-left: 20%;
	color: darkslategray;
	font-size: 1.4em;
	display: block;
}

h3, h4 {
	font-family: Open Sans ,"Trebuchet MS", Arial, serif;
	font-style:normal;
	text-align: center;
	display: block;
	color: darkslategray;
}
h3 {
	margin-bottom: 2em;
	margin-top: 2.5em;
}
h4 {
	margin-bottom: 1em;
	margin-top: 3em;
	margin-left: 10%;
	margin-right: 10%;
	
	text-align: center;
}
.parrafoSeparado {
	margin-top: 2.5em;
}


.placauno {
	display: block;
	position: relative;
	width: 100%;
	background-color: orange;
	border: 2px solid blue;
	overflow: hidden;
	height: auto;
}
.placauno img {
	width: 50%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.textos {
	
	box-sizing: border-box;
	position: relative;
	/*padding-left: 20px;
	padding-right: 20px;*/
	padding-top: 10px;
	background-color: ghostwhite; /*ghostwhite*/
	overflow: visible;
	top: 0px;
	width: 100%;
	margin: auto;
}

@media (min-width: 800px) {
	
	.textos {
		position: relative; 
		padding-top: 20px;
		padding-bottom: 20px;
		/*antes era el padding general*/
		overflow: visible;
		box-shadow: 0px 2px 7px gray;
		top: 0px;	/*overflow: hidden;*/
		right: 0px;
		width: 74%;
		float: right;
		margin-right: 0;
	}
}
.versalita {
	font-variant-caps: small-caps;
}

.textos > p, .DiaSegmento > p {
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	word-wrap: normal;
	text-indent: auto; /*antes de octubre era 0 em*/
	text-align: left;
	line-height: 1.5;
	font-family:  Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	clear: left;
	color: darkslategray;
	
	margin-bottom: .5em;
	
	margin-left: 20%;
	margin-right: 20%;
	
}

.textos ol {
	position: relative;
	display: block;
	font-family:  Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	list-style-type: decimal;
	list-style-position: inside;
	color: darkslategray;
	margin-bottom: 1.5em;
	margin-left: 20%;
	margin-right: 20%;
}

.textos ol li {
	margin-left: 0em;
	margin-bottom: .5em;
}

.referencia {
	border-bottom: 1px solid gray;
	margin-left: 2em;
	text-indent: -2em;
}



.botonTexto {display: block; margin: auto; clear: both; width: 100px; height: 35px; padding-top: 5px; font-size: 2em;  margin-bottom: 2em; background-color: mediumseagreen; border-style:inset;}
.botonTexto p { color: white; transform: rotate(90deg);}

.abajo {
	transform: rotate(90deg);
}



.textos ul {
	list-style-type: square;
	list-style-position: outside;
	margin-left: 1em;
	font-family:  Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	color: teal;
	margin-bottom: 1em;
}
.textos ul li {
	margin-bottom: .5em;
}

.textos ul li ul {
	list-style-type: none;
	margin: .5em 0 1em 0em;
	border-left: solid 1px seagreen;
	padding: .5em;
	font-size: .9em;
}
.fontgrande {
	font-size: 1.1em;
}
.fontgrandeenchico {
	font-size: 1em;
}


strong {
	color: darkslategray;
}
li strong {
	font-weight: bold;
}

td strong {
	font-weight: normal;
}

.textos u {
	color: black;
}
.textos p.primero {
	text-indent: 0em;
}
.textos p.parrlista {
	margin-left: 1.5em;
	text-indent: 0em;
	margin-bottom: 1.5em;
}

.notas {
	position: relative;
	width: 100%;
	margin-top: 3em;
	font-size: .8em;
	hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
}

.notas ol {
	border-top: 1px solid gray;
	list-style-type: decimal;
	list-style-position: outside;
}
.notas ol li {
	margin-bottom: .5em;
}
.notas ol li:target {
	background-color: greenyellow;
}

.txt-centrado { text-align: center;}
.txt-izquierda {text-align: left;}

/*FIN texto*/

.raya-separado {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	background-color: darkslategray;
	margin-top: 2em;
	margin-bottom: 3em;
}
.raya-separado-sub {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	background-color: slateblue;
	margin-top: 1em;
	margin-bottom: 1em;
}

.h1envolvente {
	position: relative;
	display: block;
	border-top: 1px solid transparent;
	height: auto;
	overflow: visible;
	top: 100;;
	padding: 50px 020 0px;
	
lear: bo5h/*debi a que el elemento predecesor es un fichero floar right*/
}
.h1sinpadding {
	padding-top: 0px;
	margin-bottom: 0em;
}

table {
	display: block;
	position: relative;
	clear: both;

	border-collapse: collapse;
	width: auto;
	font-size: .9em;
	font-family: Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2em;
	margin-bottom: 2em;
	
}
tr.tablaFirst {
}
tr:nth-child(even) {
	background-color: lavenderblush;
}
th {
	padding: .5em;
	background-color: darkslategray;
	color: ghostwhite;
}

td {
	border: 1px solid slategray;
	padding: .5em;
	
	color: darkslategray;
}



@media (min-width: 1200px) {
	.textos > p, table {
		margin-left: 20%;
		margin-right: 20%;
	}
	h4 {
		margin-left: 15%;
	}
}

@media (max-width: 700px) {
	.textos > p, table {
		margin-left: 0%;
		margin-right: 0%;
		padding-left: 10%;
		padding-right: 10%;
	}
	h1, h2 {
		margin-left: 10%;
	}
	
	.textos ol {
		border-bottom: 1px dashed darkslategray;
		margin-left: 10%;
		margin-right: 10%;
	}
	
}

@media (max-width: 500px) {
	.textos {
	
	}
	.textos > p {
		
		text-align: left;
		text-indent: 0%;
		hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		
		padding-left: 20px;
		padding-right: 20px;
	}
	h3, h4 {
		margin-left: 0%;
		padding-left: 20px;
		padding-right: 20px;
	}
}



